name: aa-dev-environment

services:
  # Use sbaa-db for the SBAA api's data store
  sbaa-db:
    image: postgres:${POSTGRESQL_IMAGE_TAG:-16.2}
    ports:
      - '127.0.0.1:${POSTGRES_PORT_EXPOSED:-5432}:5432'
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: sbaa
    volumes:
      - vol-sbaa-db:/var/lib/postgresql/data
    networks:
      - sbaa-network

  # Edfi v7.x
  v7-db-ods-tenant1:
    image: edfialliance/ods-api-db-ods-minimal:${ODS_TAG_7X}
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      TPDM_ENABLED: '${TPDM_ENABLED:-true}'
    restart: always
    volumes:
      - vol-db-ods-7x-1:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready  -U ${POSTGRES_USER}']
      start_period: 30s
      retries: 30
      interval: 3s
    networks:
      - sbaa-network

  v7-db-ods-tenant2:
    image: edfialliance/ods-api-db-ods-minimal:${ODS_TAG_7X}
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      TPDM_ENABLED: '${TPDM_ENABLED:-true}'
    restart: always
    volumes:
      - vol-db-ods-7x-2:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready  -U ${POSTGRES_USER}']
      start_period: 30s
      retries: 30
      interval: 3s
    networks:
      - sbaa-network

  v7-db-admin-tenant1:
    image: edfialliance/ods-admin-api-db:${ADMIN_DB_TAG_7X}
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      # The following variables ared used by bootstrap.sh to set up the ODS
      # connection string in the OdsInstances table.
      ODS_PGBOUNCER_PORT: 5432
      ODS_POSTGRES_HOST: v7-db-ods-tenant1
      NPG_POOLING_ENABLED: '${NPG_POOLING_ENABLED:-true}'
      NPG_API_MAX_POOL_SIZE_ODS: '${NPG_API_MAX_POOL_SIZE_ODS:-20}'
      TENANT_IDENTIFIER: tenant1
    volumes:
      - ./settings/bootstrap.sh:/docker-entrypoint-initdb.d/2-bootstrap.sh
      - vol-db-admin-7x-1:/var/lib/postgresql/data
    restart: always
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready  -U ${POSTGRES_USER}']
      start_period: 30s
      retries: 30
      interval: 3s
    networks:
      - sbaa-network

  v7-db-admin-tenant2:
    image: edfialliance/ods-admin-api-db:${ADMIN_DB_TAG_7X}
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      ODS_PGBOUNCER_PORT: 5432
      # The following variables ared used by bootstrap.sh to set up the ODS
      # connection string in the OdsInstances table.
      ODS_POSTGRES_HOST: v7-db-ods-tenant2
      NPG_POOLING_ENABLED: '${NPG_POOLING_ENABLED:-true}'
      NPG_API_MAX_POOL_SIZE_ODS: '${NPG_API_MAX_POOL_SIZE_ODS:-20}'
      TENANT_IDENTIFIER: tenant2
    volumes:
      - ./settings/bootstrap.sh:/docker-entrypoint-initdb.d/2-bootstrap.sh
      - vol-db-admin-7x-2:/var/lib/postgresql/data
    restart: always
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready  -U ${POSTGRES_USER}']
      start_period: 30s
      retries: 30
      interval: 3s
    networks:
      - sbaa-network

  v7-api:
    image: edfialliance/ods-api-web-api:${ODS_API_TAG_7X}
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_PORT: 5432
      PATH_BASE: '${V7_ODS_VIRTUAL_NAME}'
      TPDM_ENABLED: '${TPDM_ENABLED:-true}'
      ODS_WAIT_POSTGRES_HOSTS: 'v7-db-ods-tenant1 v7-db-ods-tenant2 '
      NPG_POOLING_ENABLED: '${NPG_POOLING_ENABLED:-true}'
      NPG_API_MAX_POOL_SIZE_ODS: '${NPG_API_MAX_POOL_SIZE_ODS:-20}'
      NPG_API_MAX_POOL_SIZE_ADMIN: '${NPG_API_MAX_POOL_SIZE_ADMIN:-20}'
      NPG_API_MAX_POOL_SIZE_SECURITY: '${NPG_API_MAX_POOL_SIZE_SECURITY:-20}'
      NPG_API_MAX_POOL_SIZE_MASTER: '${NPG_API_MAX_POOL_SIZE_MASTER:-20}'
      ODS_CONNECTION_STRING_ENCRYPTION_KEY: '${ODS_CONNECTION_STRING_ENCRYPTION_KEY}'
      ASPNETCORE_ENVIRONMENT: 'docker'
    volumes:
      - ${LOGS_FOLDER}:/app/logs
      - ./settings/appsettings.dockertemplate.json:/app/appsettings.dockertemplate.json
    entrypoint: ['/bin/sh']
    command:
      [
        '-c',
        'envsubst < /app/appsettings.dockertemplate.json > /app/appsettings.docker.json && /app/run.sh',
      ]
    depends_on:
      - v7-db-ods-tenant1
      - v7-db-ods-tenant2
      - v7-db-admin-tenant1
      - v7-db-admin-tenant2
    restart: always
    hostname: ${V7_ODS_VIRTUAL_NAME}
    healthcheck:
      test: ${V7_API_HEALTHCHECK_TEST}
      start_period: 30s
      retries: 30
      interval: 3s
    networks:
      - sbaa-network

  v7-adminapi:
    image: edfialliance/ods-admin-api:${ADMIN_API_TAG_7X}
    environment:
      ADMIN_WAIT_POSTGRES_HOSTS: 'v7-db-admin-tenant1 v7-db-admin-tenant2 '
      POSTGRES_PORT: 5432
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      ASPNETCORE_ENVIRONMENT: multitenantdocker
      AppSettings__DatabaseEngine: PostgreSql
      AppSettings__PathBase: '${V7_ADMIN_API_VIRTUAL_NAME}'
      Authentication__Authority: https://localhost:4443/${V7_ADMIN_API_VIRTUAL_NAME}
      Authentication__IssuerUrl: https://localhost:4443/${V7_ADMIN_API_VIRTUAL_NAME}
      Authentication__SigningKey: ${SIGNING_KEY}
      Authentication__AllowRegistration: true
      AppSettings__DefaultPageSizeOffset: ${PAGING_OFFSET:-0}
      AppSettings__DefaultPageSizeLimit: ${PAGING_LIMIT:-25}
      AppSettings__MultiTenancy: ${MULTITENANCY_ENABLED:-true}
      SwaggerSettings__EnableSwagger: true
      SwaggerSettings__DefaultTenant: ${SWAGGER_DEFAULT_TENANT:-tenant1}
      Log4NetCore__Log4NetConfigFileName: ./log4net/log4net.config
      EnableDockerEnvironment: true
      AppSettings__AllowedOrigins: ${ALLOWED_ORIGINS:-https://localhost}
    volumes:
      - ./settings/appsettings.dockertemplate.json:/app/appsettings.dockertemplate.json
      - ./settings/adminapi-run.sh:/app/run.sh
      - ./settings/log4net.config:/app/log4net/log4net.config
    entrypoint: ['/bin/sh']
    command:
      [
        '-c',
        'envsubst < /app/appsettings.dockertemplate.json > /app/appsettings.multitenantdocker.json && /app/run.sh',
      ]
    depends_on:
      - v7-db-admin-tenant1
      - v7-db-admin-tenant2
    restart: always
    hostname: ${V7_ADMIN_API_VIRTUAL_NAME}
    healthcheck:
      test: ${V7_ADMIN_API_HEALTHCHECK_TEST}
      start_period: 30s
      retries: 30
      interval: 3s
    networks:
      - sbaa-network

  v7-nginx:
    image: edfialliance/ods-api-web-gateway:${GATEWAY_TAG_7X}
    environment:
      ODS_VIRTUAL_NAME: '${V7_ODS_VIRTUAL_NAME}'
      ADMIN_API_VIRTUAL_NAME: '${V7_ADMIN_API_VIRTUAL_NAME}'
      EXTERNAL_PORT: 4443
      # Note: this port must match the port in the `X-Forwarded-Port`
      # header in the `default.conf.template` file.
    ports:
      - '127.0.0.1:4443:443'
    restart: always
    hostname: nginx
    volumes:
      - ./ssl:/ssl/
      - ./settings/default.conf.template:/etc/nginx/templates/default.conf.template
    depends_on:
      - v7-api
      - v7-adminapi
    networks:
      - sbaa-network

  # EdFi v6.x
  v6-db-admin:
    image: edfialliance/ods-admin-api-db:${ADMIN_DB_TAG_6X}
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      API_MODE: DistrictSpecific
    # Temporary workaround to ensure the database is set up correctly (there's a bug in the image)
    user: root  # Run as root initially
    command: >
      sh -c "
        chown -R postgres:postgres /tmp/AdminApiScripts &&
        chmod -R 755 /tmp/AdminApiScripts &&
        chmod -R 644 /tmp/AdminApiScripts/PgSql/*.sql &&
        su postgres -c 'docker-entrypoint.sh postgres'
      "
    restart: always
    volumes:
      - vol-db-admin-6x:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready  -U ${POSTGRES_USER}']
      start_period: 30s
      retries: 30
      interval: 3s
    networks:
      - sbaa-network

  # Note: this host name _must_ have `ods_` before the district number. Cannot be `ods-`.
  v6-edfi-ods_255901:
    image: edfialliance/ods-api-db-ods:${ODS_TAG_6X}
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      TPDM_ENABLED: '${TPDM_ENABLED:-true}'
      ODS_DB: 'EdFi_Ods_255901'
    restart: always
    volumes:
      - vol-db-ods-6x-255901:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready  -U ${POSTGRES_USER}']
      start_period: 30s
      retries: 30
      interval: 3s
    networks:
      - sbaa-network

  # Note: this host name _must_ have `ods_` before the district number. Cannot be `ods-`.
  v6-edfi-ods_255902:
    image: edfialliance/ods-api-db-ods:${ODS_TAG_6X}
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      TPDM_ENABLED: '${TPDM_ENABLED:-true}'
      ODS_DB: 'EdFi_Ods_255902'
    restart: always
    volumes:
      - vol-db-ods-6x-255902:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready  -U ${POSTGRES_USER}']
      start_period: 30s
      retries: 30
      interval: 3s
    networks:
      - sbaa-network

  v6-api:
    image: edfialliance/ods-api-web-api:${ODS_API_TAG_6x}
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_PORT: 5432
      ODS_POSTGRES_HOST: v6-edfi-{0}
      ADMIN_POSTGRES_HOST: v6-db-admin
      API_MODE: DistrictSpecific
      ApiSettings__PathBase: '${V6_ODS_VIRTUAL_NAME}'
      TPDM_ENABLED: '${TPDM_ENABLED:-true}'
      ODS_WAIT_POSTGRES_HOSTS: 'v6-edfi-ods_255901 v6-edfi-ods_255902 '
      API_HEALTHCHECK_TEST: ${V6_API_HEALTHCHECK_TEST}
      NPG_POOLING_ENABLED: '${NPG_POOLING_ENABLED:-true}'
      NPG_API_MAX_POOL_SIZE_ODS: '${NPG_API_MAX_POOL_SIZE_ODS:-20}'
      NPG_API_MAX_POOL_SIZE_ADMIN: '${NPG_API_MAX_POOL_SIZE_ADMIN:-20}'
      NPG_API_MAX_POOL_SIZE_SECURITY: '${NPG_API_MAX_POOL_SIZE_SECURITY:-20}'
      NPG_API_MAX_POOL_SIZE_MASTER: '${NPG_API_MAX_POOL_SIZE_MASTER:-20}'
    volumes:
      - ${LOGS_FOLDER}:/app/logs
    depends_on:
      - v6-db-admin
      - v6-edfi-ods_255901
      - v6-edfi-ods_255902
    restart: always
    hostname: ${V6_ODS_VIRTUAL_NAME}
    healthcheck:
      test: ${V6_API_HEALTHCHECK_TEST}
      start_period: 30s
      retries: 30
      interval: 3s
    networks:
      - sbaa-network

  v6-adminapi:
    image: edfialliance/ods-admin-api:${ADMIN_TAG_6X}
    environment:
      ADMIN_POSTGRES_HOST: v6-db-admin
      POSTGRES_PORT: 5432
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      AppSettings__DatabaseEngine: 'PostgreSql'
      AppSettings__ApiStartupType: DistrictSpecific
      AppSettings__ProductionApiUrl: ${API_INTERNAL_URL}
      AppSettings__PathBase: '${V6_ADMIN_API_VIRTUAL_NAME}'
      AppSettings__OdsApiVersion: ${ODS_API_VERSION_6X}
      AppSettings__DefaultPageSizeOffset: ${PAGING_OFFSET:-0}
      AppSettings__DefaultPageSizeLimit: ${PAGING_LIMIT:-25}
      Authentication__Authority: https://localhost:5443/${V6_ADMIN_API_VIRTUAL_NAME}
      Authentication__IssuerUrl: https://localhost:5443/${V6_ADMIN_API_VIRTUAL_NAME}
      Authentication__SigningKey: ${SIGNING_KEY}
      Authentication__AllowRegistration: true
      Log4NetCore__Log4NetConfigFileName: ./log4net/log4net.config
      EnableDockerEnvironment: true
      AppSettings__AllowedOrigins: ${ALLOWED_ORIGINS:-https://localhost}
    volumes:
      - ./settings/log4net.config:/app/log4net/log4net.config
    depends_on:
      - v6-db-admin
    restart: always
    hostname: ${V6_ADMIN_API_VIRTUAL_NAME}
    healthcheck:
      test: ${V6_ADMIN_API_HEALTHCHECK_TEST}
      start_period: 30s
      retries: 30
      interval: 3s
    networks:
      - sbaa-network

  v6-nginx:
    image: edfialliance/ods-api-web-gateway:${GATEWAY_TAG_6X}
    environment:
      ADMIN_API_VIRTUAL_NAME: '${V6_ADMIN_API_VIRTUAL_NAME}'
      ODS_VIRTUAL_NAME: '${V6_ODS_VIRTUAL_NAME}'
      EXTERNAL_PORT: 5443
      # Note: this port must match the port in the `X-Forwarded-Port`
      # header in the `default.conf.template` file.
    ports:
      - '127.0.0.1:5443:443'
    restart: always
    hostname: nginx
    volumes:
      - ./ssl:/ssl/
      - ./settings/default.conf.template:/etc/nginx/templates/default.conf.template
    depends_on:
      - v6-api
      - v6-adminapi
    networks:
      - sbaa-network

  pgadmin4:
    image: dpage/pgadmin4:9.5.0@sha256:2a830466aafd9cbc2aea0f76ff81a80dbbba819f2f5db7e69cb40e9cbdb6bc7b
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - '127.0.0.1:5050:80'
    volumes:
      - pgadmin-data:/var/lib/pgadmin
      - ./settings/pgadmin-servers.json:/pgadmin4/servers.json
    restart: always
    networks:
      - sbaa-network

  memcached:
    image: memcached
    restart: always
    networks:
      - sbaa-network

  yopass:
    image: jhaals/yopass
    restart: always
    ports:
      - '127.0.0.1:8082:80'
    command: '--memcached=memcached:11211 --port 80'
    networks:
      - sbaa-network

networks:
  sbaa-network:
    external: true

volumes:
  vol-db-ods-7x-1:
    driver: local
    name: vol-db-ods-7x-1
  vol-db-ods-7x-2:
    driver: local
    name: vol-db-ods-7x-2
  vol-db-admin-7x-1:
    driver: local
    name: vol-db-admin-7x-1
  vol-db-admin-7x-2:
    driver: local
    name: vol-db-admin-7x-2
  vol-db-admin-6x:
    driver: local
    name: vol-db-admin-6x
  vol-db-ods-6x-255901:
    driver: local
    name: vol-db-ods-6x-255901
  vol-db-ods-6x-255902:
    driver: local
    name: vol-db-ods-6x-255902
  pgadmin-data:
    driver: local
    name: pgadmin-data
  vol-sbaa-db:
    driver: local
    name: vol-sbaa-db
