name: Lint

on:
  pull_request:
    branches: [main, develop]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Git repository
        uses: actions/checkout@v4

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'

      - name: Download dependencies
        uses: bahmutov/npm-install@v1
        with:
          install-command: npm ci --legacy-peer-deps

      # - name: Lint
      #   run: npm run lint:check

      - name: Prettier
        run: npm run prettier:check
