name: Release
on:
  # allow for manual triggers
  workflow_dispatch: {}
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write
  issues: write

jobs:
  lint:
    uses: edanalytics/startingblocks_admin_app/.github/workflows/lint.yml@main
  test:
    uses: edanalytics/startingblocks_admin_app/.github/workflows/test.yml@main
  audit:
    uses: edanalytics/startingblocks_admin_app/.github/workflows/sandworm-audit.yml@main
  build:
    uses: edanalytics/startingblocks_admin_app/.github/workflows/build.yml@main

  release:
    name: Release
    needs: [lint, test, audit, build]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Git repository
        uses: actions/checkout@v4
        with:
          # pulls all commits (needed for semantic release to correctly version)
          fetch-depth: '0'

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'

      - name: Download dependencies
        uses: bahmutov/npm-install@v1
        with:
          install-command: npm ci --legacy-peer-deps

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx semantic-release@24

      - name: Sync develop with main
        run: |
          RELEASE_HASH=$(git rev-parse HEAD)
          git config --local user.email "semantic-release-bot@martynus.net"
          git config --local user.name "semantic-release-bot"
          git pull --depth=1 origin develop
          git stash
          git checkout develop
          git merge $RELEASE_HASH
          git push origin develop
